.Menu {
  background-color: #f9f9f9;
  border-width: 1px;
  border-color: #edebe9;
  /* padding: 1rem; */
  /* margin-right: 2rem; */
  /* font-size: 15px;
  font-weight: 400; */
  /* height: calc(100%-50px);
  height: -moz-calc(100% - (50px));
  height: -webkit-calc(100% - (50px)); */
  /* color: white; */
}
